div.menuBar {
    background-color: #C0C0C0;
    border-color: #F0F0F0 #909090 #909090 #F0F0F0;
}
div.menubar a.menuButton {
    background-color: solid;
    }

div.menu {
    background-color: #C0C0C0;
    border-color: #F0F0F0 #909090 #909090 #F0F0F0;
}

